h1{
    text-align: center;
    color: rgb(255, 255, 255);
    
}



  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-radius: 100%;
    background: transparent;
    display: block;
    box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
      200px 0 200px 150px rgba(255, 255, 255, 0.6),
      -250px 0 300px 150px rgba(255, 255, 255, 0.6),
      550px 0 300px 200px rgba(255, 255, 255, 0.6),
      -550px 0 300px 200px rgba(255, 255, 255, 0.6);
  }
  body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(90deg, rgba(235, 188, 135, 0.788) 0%, steelblue 100%);
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Luckiest Guy", cursive;
    -webkit-font-smoothing: antialiased;
  }

  img{

    max-width:100%;
    height: auto; 
    display: block;
    margin: 0 auto;
     
  }